body {
	font-size: 25px ;
	background-color: rgb(204, 232, 225) ;
}
h1 {text-align: center;
	position: fixed;
	top: 0px;
	padding-top: 0px;
	margin-top: 0px;
	font-size: 100px ;
	background-color: rgba(6, 80, 62, 0.2);
	opacity: 0.2;
	margin-left: 25%;

}
h3 {background-color: rgba(6, 80, 62, 0.5);

}